* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://media.giphy.com/media/aRZ4vTsHnyW6A/giphy.gif?cid=ecf05e471b34d0e2xj4mkhtrtszfihw1k6h1lrbokplhzlaq&ep=v1_gifs_search&rid=giphy.gif&ct=g") no-repeat center center/cover;
}

.wrapper {
    max-width: 95%;
    width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border: 5px solid rgba(255, 255, 255, 0.5);
    color: white;
    border-radius: 15px;
    padding: 2em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    backface-visibility: hidden;
    transform: translateZ(0);
}

.wrapper:hover{
    transform: scale(1.1);
}

.input-box {
    width: 100%;
    margin: 1.5em 0;
}

.input-box input {
    width: 100%;
    padding: 0.75em;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.493);
    border-radius: 15px;
    font-size: 1.1em;
    color: white;
    outline: none;
}

.input-box input::placeholder {
    color: white;
}

.SubmitBtn {
    width: 100%;
    margin: 1px 0;
}

.SubmitBtn button {
    width: 75%;
    padding: 0.75em;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.1);
    cursor: pointer;
    font-size: 1.25em;
    color: #1f1f1f;
    font-weight: 600;
    transition: background-color 0.3s;
}

.SubmitBtn .btn:first-child {
    margin-bottom: 10px;
}